.page-container {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    .page-container {
        padding-inline: 1rem;
    }
}

@media (min-width: 1024px) {
    .page-container {
        padding-inline: 0rem;
    }
}
